---
import Layout from "../layouts/Layout.astro";
import Row from "../components/Row.astro";

import { getKeys } from "../lib/keys";

const { data, time } = await getKeys();
---

<Layout>
  <main>
    {data.map((d) => <Row {...d} />)}

    <footer>API time: {time}ms</footer>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 90dvh;
    padding: 1.5rem;
    max-width: 60ch;
  }

  footer {
    margin-top: auto;
    color: #f4ebd0;
    font-size: 0.7em;
  }

  .row > :last-child {
    border-bottom: none;
  }
</style>
