---
import Layout from "../layouts/Layout.astro";
import Row from "../components/Row.astro";

import { getReports } from "../pages/data.json";

const data = await getReports();
---

<Layout>
  <main>
    {data.map((d) => <Row {...d} />)}
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
</style>
