---
import Layout from "../layouts/Layout.astro";
import Row from "../components/Row.astro";

import { getReports } from "../pages/data.json";

const data = await getReports();
---

<Layout title="Logs">
  <main>
    {data.map((d) => <Row {...d} />)}
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 2rem;
    font-weight: 800;
    margin: 0;
  }
</style>
