---
import type { Parsed } from "../pages/data.json";

const { key, level, pass, players, url } = Astro.props as Parsed;

const passColor = pass ? "pass" : "fail";
---

<div class="row">
  <div>
    <a class={passColor} href={url}>
      {key} - {level}
    </a>
  </div>

  <div class="owner">{players.join(" ")}</div>
</div>

<style>
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-bottom: 5px;
  }
  a {
    color: inherit;
    text-decoration: none;
  }

  .pass {
    color: green;
  }
  .fail {
    color: darkred;
  }

  .owner {
    color: #f4ebd0;
    font-size: 0.7em;
    margin-top: auto;
    margin-bottom: auto;
  }
</style>
