---
import type { Parsed } from "../lib/parse";

const { key, level, timed, finished, players, url } = Astro.props as Parsed;

const keyExecution = timed ? "pass" : finished ? "fail" : "left";
---

<div class="row">
  <div>
    <a class={keyExecution} href={url}>
      {key} - {level}
    </a>
  </div>

  <div class="owner">{players.join(" ")}</div>
</div>

<style>
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-bottom: 5px;
  }
  a {
    color: inherit;
    text-decoration: none;
  }

  .pass {
    color: green;
  }
  .fail {
    color: darkred;
  }
  .left {
    color: darkred;
    text-decoration: line-through;
  }

  .owner {
    color: #f4ebd0;
    font-size: 0.8em;
    margin-top: auto;
    margin-bottom: auto;
  }
</style>
